@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Gestión de Soluciones</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://www.tiposde.com/wp-content/uploads/tipos-de-soluciones.jpg"
</div>

<script language="Javascript">

    Function resaltar1() { 

    document.getElementById("pro1").style.border = "1px solid red";

    }
    function quitar1() {
    
    document.getElementById("textspan").style.color = "blue";
    document.getElementById(pro1).style.border = "0px solid black"; 
    }