@page
@model Gestion_de_solicitudes.Pages.PedidosModel
@{
    ViewData["Title"] = "Seleccione su producto";

}


<div class="text-center">
    <h1 class="display-4">Lo sentimos el módulo esta en mantenimiento</h1>

    <p> ERROR 401 </p>
    <img src=""
</div>

